<h1>Protovore Partners</h1>

<div id="aboutPitch">
	<p>
		Protovore Partners exists at the intersection of the 'hacker' and startup communities.  We live to build, but also build to live.
	</p>
	<p>
		We solve technology, product, and business challenges - from rapid prototyping to distribution partnerships and system scaling.
	</p>
</div>

<div id="testimonial">
	<%= link_to atma , "http://atmalinks.com" %>
	<p class="quote">
		"Really helped us up our game.
		Helped us go from several million, to several <b>hundred</b> million impressions a month. Yes - we're happy."
	</p>
	<p class="person">Chris Dickson, CEO, <%= link_to 'AtmaLinks', 'http://atmalinks.com' %> LLC.</p>
</div>


<div id="standards">
	<h2>Pragmatic Fanatics</h2>	
	<p>
	We are hyper competitive, dedicated to innovation, and expect you to share these characteristics.
	</p>
	<p>
	We are not your typical 'dev shop'. We will not simply churn out a moving version of your spec sheet.</p>

	<p>
	We will build with you to help you solve your technology, product, and business challenges in all their dimensions. 
	
	We will improve your company.
		
	</p>
	<p>
	If you hold yourself to these same standards, we look forward to working with you.	
	</p>
</div>

<div id="team">
	<h2>The Partnership</h2>

	<div id="teamLeads">
		<ul>
			<li class="partner">
				<table>
					<tr>
						<td>
							<%= image_tag('ethan.jpg')%>
						</td>
						<td>
						<strong>Ethan Stillman</strong><br/>
						What happens when a tireless <%= link_to 'transhumanist', 'http://en.wikipedia.org/wiki/Transhumanism' %> learns code, works startups, and begins hanging out with designers and roboticists? Protovore. That's what.
						</td>
					</tr>
				</table>
			</li>
			<li class="partner">
				<table>
					<tr>
						<td>
							<%= image_tag('angad.jpg')%>
						</td>
						<td>
						<strong>Angad Singh</strong><br/>
						Do you ever wake up Saturday mornings and decide to harness enough compute power to download the Internet?  If not, then you most certainly are not Mr. Singh.
						</td>
					</tr>
				</table>
			</li>
			<li class="partner">
				<table>
					<tr>
						<td>
							<%= image_tag('street_punks.jpg')%>
						</td>
						<td>
						<strong>and a band of Techno-Thugs</strong><br/>
						We are a merry crew. An unstoppable force of technological domination.  Committed patriots of the cyber nation. Of many body, but single mind. 
						</td>
					</tr>
				</table>
			</li>

		</ul>
	</div>
</div>

<!-- <div id="team">
	<ul>
		<li>Ethan Stillman</li>
		<li>Angad Singh</li>
		<li>Keith Steward</li>
		<li>Joshua Levitt</li>
		<li>Daniel LaLiberte</li>
		<li>Costas Boussious</li>
		<li>Carlos Cashman</li>
		<li>Matthew Bergman</li>
		<li>Jeff Heuer</li>
		<li>Rick Hull</li>
		<li>Frank Denbrow</li>
		<li>Andrei Scheinkman</li>
		<li>Brian Mitchell</li>
		<li>Sam Gershman</li>
	</ul>
</div> -->

<%= render :partial => '/shared/inquiryForm'%>
