<h1>About</h1>

<div id="aboutPitch">
	<p>
		Protovore Partners exists at the intersection of the 'hacker' and startup communities.  We live to build, but also build to live.
	</p>
	<p>
		We solve technology, product, and business challenges - from building prototypes to scaling systems - because that's what we love to do.
	</p>

	<h2>Pragmatic Fanatics</h2>
	<p>
		Protovore Partners is a federation of startup, technology, and design experts.
	</p>
	<p>
		Each of us is working in our own ways and according to our own agendas to materially improve society. This can be a daunting task and a winding road, but to each of us - the true-believer - a required undertaking.
	</p>
	<p>	
	Protovore Partners is our way of taking advantage of our collective capacities and provide a healthy lifestyle for ourselves as we pursue our deep-held causes or search for an appropriate company to fully invest ourselves in. We are pragmatic fanatics.
	</p>
	
	<h2>Exacting Standards</h2>
	<p>
	The most important thing to keep in mind when considering working with us - be it as a partner or a client - is that we are hyper competitive, and dedicated innovators.  We expect you to share these characteristics.
	</p>
	<p>
	We are not your typical 'dev shop'. We will not simply churn out a moving version of your spec sheet.</p>

	<p>
	We will build with you to help you solve your technology, product, and business challenges in all their dimensions. And when we are done, you will be left a better company with a more robust product and a solidified distribution infrastructure.
	</p>
	<p>
	If you hold yourself to these same standards and seek to build yourself into a truly competitive technology-driven enterprise, we look forward to working with you.	
	</p>
</div>

<div id="team">
	<h2>The Partnership</h2>

	<div id="teamLeads">
		<ul>
			<li class="partner">
				<table>
					<tr>
						<td>
							<%= image_tag('ethan.jpg')%>
						</td>
						<td>
						<strong>Ethan Stillman</strong><br/>
						
						What happens when a tirelessly discontented <%= link_to 'transhumanist', 'http://en.wikipedia.org/wiki/Transhumanism' %> learns code, works startups, and begins hanging out with designers? Protovore. That's what.
						</td>
					</tr>
				</table>
			</li>
			<li class="partner">
				<table>
					<tr>
						<td>
							<%= image_tag('angad.jpg')%>
						</td>
						<td>
						<strong>Angad Singh</strong><br/>
						Have you ever decided to build something in a weekend that others had taken months to fail at building? If not, then you most certainly are not Angad Singh.
						</td>
					</tr>
				</table>
			</li>
			<li class="partner">
				<table>
					<tr>
						<td>
							<%= image_tag('street_punks.jpg')%>
						</td>
						<td>
						<strong>and a band of Techno-Thugs</strong><br/>
						We are a merry crew. An unstoppable force of technological domination.  Committed patriots of the cyber nation. Of many body, but single mind. 
						</td>
					</tr>
				</table>
			</li>

		</ul>
	</div>
</div>

<!-- <div id="team">
	<ul>
		<li>Ethan Stillman</li>
		<li>Angad Singh</li>
		<li>Keith Steward</li>
		<li>Joshua Levitt</li>
		<li>Daniel LaLiberte</li>
		<li>Costas Boussious</li>
		<li>Carlos Cashman</li>
		<li>Matthew Bergman</li>
		<li>Jeff Heuer</li>
		<li>Rick Hull</li>
		<li>Frank Denbrow</li>
		<li>Andrei Scheinkman</li>
		<li>Brian Mitchell</li>
		<li>Sam Gershman</li>
	</ul>
</div> -->

<%= render :partial => '/shared/inquiryForm'%>
