<div id="mainContainer">
	<div id="statement">
		<div id="need">
			<div class="mobile">
				<h1>Mobile?</h1>
			</div>
			<div class="web">
				<h1>Web?</h1>				
			</div>
			<div class="data">
				<h1>Data?</h1>
			</div>
			<!-- <div class="distribution">
				<h1>Distribution?</h1>
			</div> -->
		</div>
		<h2>We do that.</h2>
	</div>
	<div id="mainImage">
		<div class="mobile">
			<%= image_tag('bigiphone.jpg')%>		
		</div>
		<div class="web">
			<%= image_tag("mac.jpg", :alt => "Web? We do that.") %>
		</div>
		<div class="data">
			<%= image_tag("data.jpg")%>
		</div>
	</div>
	<div id="inquiry">
		<%= form_for @inquiry do |f| %>
		<div class="textarea">
			<%= f.label :content, "How can we help you?" %><br/>
			<%= f.text_area :content %>
		</div>
		<div class="field">
			<%= f.label :name %><br/>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :email %><br/>
			<%= f.text_field :email %>
		</div>
		<div class="submit">
			<%= f.submit 'submit' %>
		</div>
		<% end %>
	</div>
</div>