<%= render :partial => "/shared/formOverlay" %>
<div id="statement">
	<div id="need">
		<ul>
			<li class="service_0">
				<div>
					<h1>Mobile?</h1>
				</div>
			</li>
			<li class="service_1">
				<div>
					<h1>Web?</h1>				
				</div>
			</li>
			<li class="service_2">
				<div>
					<h1>Data?</h1>
				</div>
			</li>
		</ul>
	</div>
	<h2>We can help.</h2>
</div>
<div id="mainImage">
	<div class="service_0 frontItem">
		<%= image_tag('iphone.jpg') %>		
	</div>
	<div class="service_1 frontItem">
		<%= image_tag("mac.jpg") %>
	</div>
	<div class="service_2 frontItem">
		<%= image_tag("data.jpg") %>
	</div>
</div>

<div id="pitch">
	<p>We are a federation of startup, technology, and design specialists.<br/>
	   We build prototypes, systems, products, and businesses.<br/>
	   We are Protovore Partners and we can help.</p>
</div>


<%= render :partial => "shared/inquiryForm" %>