<h1>Services</h1>

<div id="servicesPitch">
Protovore Partners takes an holistic approach to helping you enhance and grow your business.  Our goal is to do whatever needs doing to help you make your business as competitive and innovative as possible.
</div>

<div id="servicesOverview">
	<p>Some of the ways we can help</p>
	<div id="serviceBox">
		<table>
		<tr>
			<td>Design</td>
			<td>Partnerships</td>
			<td>Marketing</td>
			<td>Scaling</td>
		</tr>
		<tr>
			<td>Development</td>
			<td>Mobile</td>
			<td>Machine Learning</td>
			<td>Security</td>
		</tr>
		<tr>
			<td>Prototyping</td>

			<td>Distribution</td>
			<td>Research</td>
			<td>Predictive Modeling</td>
		</tr>
	</table>
	</div>
</div>

<div id="servicesList">
	<p>
		We are an eclectic bunch with a diverse and deep set of skills.<br/>
		If you have a technology or business challenge, we can help.
	</p>
	<ul>		
		<li>
			<table>
				<th>
					<strong>Design</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/design.png', :size => "130x130")%>
					</td>
					<td>
					Interface and user experience design and implementation. Making products fun to use and fun to look at.
					</td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<th>
					<strong>Development</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/gears.png', :size => "130x130")%>
					</td>
					<td>
						Technology architecture and development. Web, mobile, tablet, embedded systems? Wherever you need your product to run, we can help you make it happen.
					</td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<th>
					<strong>Partnerships</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/blocks.png', :size => "130x130")%>
					</td>
					<td>
						Technology partnership opportunity identification, negotiation, and management
					</td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<th>
					<strong>Prototyping</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/prototype.png', :size => "130x130")%>
					</td>
					<td>
						Need to get a quick sketch of your vision up and running? Have an idea, but don't quite know how it should all fit together? We can help.
					</td>
				</tr>
			</table>			
		</li>
		<li>
			<table>
				<th>
					<strong>Research</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/userLook.png', :size => "130x130") %>
					</td>
					<td>
						Be it scoping out new markets, discovering and keeping tabs on competitors, or trying to answer important market trend questions, our combination of startup experience and technical capacities can help you understand the spaces you operate in.

					</td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<th>
					<strong>Marketing</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/speakBubble.png', :size => "130x130") %>
					</td>
					<td>
						Reaching your audience is not a simply a matter of buying Search ads (although doing that well certainly helps). To really be effective, you need to take a custom approach to communicating at scale with your audience. Marketing is a technology and social systems challenge.

					</td>
				</tr>
			</table>
		</li>

		<li>
			<table>
				<th>
					<strong>Data Mining</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/database.png', :size => "130x130") %>
					</td>
					<td>
						Have a lot of data or want to collect a lot of it? We can help.  There are all sorts of ways to do interesting and valuable things with the right amount of data manipulation. Lucky for you, we're quite good at that.
						
					</td>
				</tr>
			</table>

		</li>
		<li>
			<table>
				<th>
					<strong>Security</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/lock.png', :size => "130x130") %>
					</td>
					<td>
						Need to protect your data?
						Securing even the most simple apps - let alone complex systems - can be a highly complex task.  If you want to 
					</td>
				</tr>
			</table>			
		</li>

		<li>
			<table>
				<th>
					<strong>Artificial Intelligence</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/ai.png', :size => "130x130") %>
					</td>
					<td>
						For those who truly want to outwit their competition.
					</td>
				</tr>
			</table>			
		</li>		
		<li>
			<table>
				<th>
					<strong>Scaling</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/world.png', :size => "130x130") %>
					</td>
					<td>
						The best problem to have.
					</td>
				</tr>
			</table>
		</li>
	</ul>
</div>

<%= render :partial => "shared/inquiryForm" %>