<%= render :partial => "/shared/formOverlay" %>
<h1>Services</h1>

<div id="servicesPitch">
Protovore Partners takes an holistic approach to helping you enhance and grow your business.  Our goal is to do whatever needs doing - and build whatever needs building - to help you make sure your business is as competitive and innovative as possible.
</div>

<div id="servicesOverview">
	<p>Some of the ways we can help</p>
	<div id="serviceBox">
		<table>
		<tr>
			<td><%= link_to 'Design', '#design'%></td>
			<td><%= link_to 'Prototyping', '#prototyping' %></td>
			<!-- <td>Distribution</td> -->
			<!-- <td>Machine Learning</td> -->
			<td><%= link_to 'Data Mining', '#dataMining' %></td>
		</tr>
		<tr>
			<td><%= link_to 'Development', '#development'%></td>
			<td><%= link_to 'Research', '#research'%></td>	
			<td><%= link_to 'Artificial Intelligence', '#ai' %></td>
			<!-- <td>Data Warehousing</td> -->
			
		</tr>
		<tr>
			<td><%= link_to 'Partnerships', '#partnerships'%></td>
			<td><%= link_to 'Marketing', '#marketing'%></td>
			<td><%= link_to 'Security', '#security' %></td>
			<!-- <td>Scaling</td> -->
		</tr>
	</table>
	</div>
</div>

<div id="servicesList">
	<p>
		We are an eclectic bunch with a diverse and deep set of skills.<br/>
		If you have a technology or business challenge, we can help.
	</p>
	<ul>		
		<li id="design" class="serviceItem" name="design">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/design.png', :size => "130x130")%>
					</td>
					<td>
							<strong>Design</strong><br/>
					Want to make your product fun to use and fun to look at?  Interface and user experience design and implementation.<br/>
					<%= link_to 'We can help.', '#form'%>
					</td>
				</tr>
			</table>
		</li>
		<li id="development" class="serviceItem" name="development">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/gears.png', :size => "130x130")%>
					</td>
					<td>
							<strong>Development</strong><br/>
							Technology architecture and implementation. Web, mobile, tablet, or embedded systems.  Code in all its forms.<br/>
					<%= link_to 'We can help.', '#form'%>
					</td>
				</tr>
			</table>
		</li>
		<li id="partnerships" class="serviceItem" name="partnerships">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/blocks.png', :size => "130x130")%>
					</td>
					<td>
						<strong>Partnerships</strong><br/>
						More than likely you are doing more than you should be, or are not using all of the distribution channels you should be. Technology and distribution partnership opportunity identification, negotiation, and management.<br/>
						<%= link_to 'We can help.', '#form'%>
					</td>
					
				</tr>
			</table>
		</li>
		<li id="prototyping" class="serviceItem" name="prototyping">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/prototype.png', :size => "130x130")%>
					</td>
					<td>
						<strong>Prototyping</strong><br/>
						Want to get something up and running fast?  Have an idea, but don't quite know how it should all fit together?<br/>
						<%= link_to 'We can help.', '#form'%>
					</td>
				</tr>
			</table>			
		</li>
		<li id="research" class="serviceItem" name="research">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/userLook.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Research</strong><br/>
						Scoping out new markets, discovering and keeping tabs on competitors, or anything else. Our combination of startup experience and technical expertise can help you understand the spaces you operate in.<br/>
						<%= link_to 'We can help.', '#form'%>
					</td>
				</tr>
			</table>
		</li>
		<li id="marketing" class="serviceItem" name="marketing">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/speakBubble.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Marketing</strong><br/>
						Reaching your audience is not simply a matter of buying Search ads (although doing that well certainly helps). To really be effective you need to treat marketing like the technology and social systems challenge that it is.<br/>
						<%= link_to 'We can help.', '#form'%>
					</td>
				</tr>
			</table>
		</li>

		<li id="dataMining" class="serviceItem" name="dataMining">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/database.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Data Mining</strong><br/>
						Have a lot of data or want to collect a lot of it? There is a lot of value to be captured with the right processing and analysis.<br/>
						<%= link_to 'We can help.', '#form'%>
					</td>
				</tr>
			</table>

		</li>
		<li id="ai" class="serviceItem" name="ai">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/ai.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Artificial Intelligence</strong><br/>
						For those who want to up the ante. Want to enable your system to operate autonomously in the wild?<br/>
						<%= link_to 'We can help.', '#form'%>
					</td>
				</tr>
			</table>			
		</li>		
		
		<li id="security" class="serviceItem" name="security">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/lock.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Security</strong><br/>
						Need to protect your data?
						Securing even the most simple apps - let alone complex systems - can be very difficult.<br/>
						<%= link_to 'We can help.', '#form'%>
					</td>
				</tr>
			</table>			
		</li>
	</ul>
</div>


<%= render :partial => "shared/inquiryForm" %>