<%= render :partial => "/shared/formOverlay" %>
<h1>Services</h1>

<div id="servicesPitch">
Protovore Partners takes an holistic approach to helping you enhance and grow your business.  Our goal is to do whatever needs doing - and build whatever needs building - to help you make sure your business is as competitive and innovative as possible.
</div>

<div id="servicesOverview">
	<p>Some of the ways we can help</p>
	<div id="serviceBox">
		<table>
		<tr>
			<td>Design</td>
			<td>Prototyping</td>
			<!-- <td>Distribution</td> -->
			<!-- <td>Machine Learning</td> -->
			<td>Data Mining</td>
		</tr>
		<tr>
			<td>Development</td>
			<td>Research</td>	
			<td>Security</td>
			<!-- <td>Data Warehousing</td> -->
			
		</tr>
		<tr>
			<td>Partnerships</td>
			<td>Marketing</td>
			<td>Artificial Intelligence</td>
			<!-- <td>Scaling</td> -->
		</tr>
	</table>
	</div>
</div>

<div id="servicesList">
	<p>
		We are an eclectic bunch with a diverse and deep set of skills.<br/>
		If you have a technology or business challenge, we can help.
	</p>
	<ul>		
		<li id="design" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/design.png', :size => "130x130")%>
					</td>
					<td>
							<strong>Design</strong><br/>
					Interface and user experience design and implementation. Making products fun to use and fun to look at.<br/>
					<%= link_to 'How can we help?', '#form'%>
					</td>
				</tr>
			</table>
		</li>
		<li id="development" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/gears.png', :size => "130x130")%>
					</td>
					<td>
							<strong>Development</strong><br/>
						Technology architecture and development. Web, mobile, tablet, embedded systems? Wherever you need your product to run, we can help you make it happen.<br/>
					<%= link_to 'How can we help?', '#form'%>
					</td>
				</tr>
			</table>
		</li>
		<li id="partnerships" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/blocks.png', :size => "130x130")%>
					</td>
					<td>
						<strong>Partnerships</strong><br/>
						Technology partnership opportunity identification, negotiation, and management<br/>
						<%= link_to 'How can we help?', '#form'%>
					</td>
					
				</tr>
			</table>
		</li>
		<li id="prototyping" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/prototype.png', :size => "130x130")%>
					</td>
					<td>
						<strong>Prototyping</strong><br/>
						Need to get a quick sketch of your vision up and running? Have an idea, but don't quite know how it should all fit together? We can help.<br/>
						<%= link_to 'How can we help?', '#form'%>
					</td>
				</tr>
			</table>			
		</li>
		<li id="research" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/userLook.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Research</strong><br/>
						Be it scoping out new markets, discovering and keeping tabs on competitors, or trying to answer important market trend questions, our combination of startup experience and technical capacities can help you understand the spaces you operate in.<br/>
						<%= link_to 'How can we help?', '#form'%>
					</td>
				</tr>
			</table>
		</li>
		<li id="marketing" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/speakBubble.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Marketing</strong><br/>
						Reaching your audience is not a simply a matter of buying Search ads (although doing that well certainly helps). To really be effective, you need to take a custom approach to communicating at scale with your audience. Marketing is a technology and social systems challenge.<br/>
						<%= link_to 'How can we help?', '#form'%>
					</td>
				</tr>
			</table>
		</li>

		<li id="dataMining" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/database.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Data Mining</strong><br/>
						Have a lot of data or want to collect a lot of it? We can help.  There are all sorts of ways to do interesting and valuable things with the right amount of data manipulation. Lucky for you, we're quite good at that.<br/>
						<%= link_to 'How can we help?', '#form'%>
					</td>
				</tr>
			</table>

		</li>
		<li id="security" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/lock.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Security</strong><br/>
						Need to protect your data?
						Securing even the most simple apps - let alone complex systems - can be a highly complex task.  If you want to <br/>
						<%= link_to 'How can we help?', '#form'%>
					</td>
				</tr>
			</table>			
		</li>

		<li id="ai" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/ai.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Artificial Intelligence</strong><br/>
						For those who truly want to outwit their competition.<br/>
						<%= link_to 'How can we help?', '#form'%>
					</td>
				</tr>
			</table>			
		</li>		
		<!-- <li id="machineLearning" class="serviceItem">
			<table>
				<tr>
					<td>
						<%= image_tag('/images/world.png', :size => "130x130") %>
					</td>
					<td>
						<strong>Machine Learning</strong><br/>
						When you need to make sense of a lot of data.
					</td>
				</tr>
			</table>
		</li> -->
		<!-- <li>
			<table>
				<th>
					<strong>Data Warehousing</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/database.png', :size => "130x130") %>
					</td>
					<td>
						Storing and keeping track of a lot of data is not easy.
					</td>
				</tr>
			</table>
		</li> -->
		<!-- <li>
			<table>
				<th>
					<strong>Scaling</strong>
				</th>
				<tr>
					<td>
						<%= image_tag('/images/world.png', :size => "130x130") %>
					</td>
					<td>
						The best problem to have.
					</td>
				</tr>
			</table>
		</li> -->
	</ul>
</div>

<%= render :partial => "shared/inquiryForm" %>