<!DOCTYPE html>
<html>
	<head>
	  <title><%= @title %></title>
	  <%= csrf_meta_tag %>
	  <%= render 'layouts/stylesheets' %>
	  <%= stylesheet_link_tag @title %>
	  <%= javascript_include_tag :defaults %>

	
	  <meta type="description" content="Boutique technology consulting">
	</head>
	<body>
		<div id="banner">
			<%= image_tag('banner.png')%>
		</div>
		<div id="sidenav">
			<ul>
				<li>Services</li>
				<li>About</li>
				<li>Contact</li>
			</ul>
		</div>
		<div class="container">
			<section id="main">
				<%= yield %>			
			</section>
		</div>
	</body>
</html>
